*.csv
CTPWrapperForCSharp/CSharpLibraryCS
CTPWrapperForCSharp/CTPWrapperForCSharp/Debug
CTPWrapperForCSharp/TPWrapperForCSharp_MD/Debug
CTPWrapperForCSharp/CTPWrapperForCSharp/Release
CTPWrapperForCSharp/TPWrapperForCSharp_MD/Release
*.con
.vs/
*.log
*.dat
